@page "/{*pageRoute}"
@using Excubo.Blazor.TreeViews
@using System.Text.RegularExpressions

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@if (Regex.IsMatch(PageRoute, @"^\/([A-z0-9-_+]+\/)*([A-z0-9]+\.(md))$")) {
    <p><em>@PageRoute</em></p>
    <p><em>.markdown</em></p>
} else {
    <p><em>@PageRoute</em></p>
    <TreeView Items="@Contents.Children" GetChildren="(item) => item.Children">
        <ItemTemplate>
            <NavLink class="nav-link" href="@context.Item.Path">
                @context.Item.Name
            </NavLink>
        </ItemTemplate>
    </TreeView>
}